---
import "./style.css";
export interface Props {
    image: string;
    title: string;
    weth: string;
    endsIn: string;
}
const { title, weth, endsIn, image } = Astro.props;
---

<div class="item-card">
    <img src={image} alt={title} />

    <div class="item-card-footer">
        <div class="item-card-footer-header">
            <h4>{title}</h4>
            <p>{weth} Weth</p>
        </div>
        <span class="card-line"></span>
        <div class="item-card-footer-bottom">
            <p class="card-ends-in">Ends in <span>{endsIn}</span></p>
            <button class="card-btn">Bid</button>
        </div>
    </div>
</div>
